@{
    ViewData["Title"] = "Usuario";
}
@model User

<div class="row">
    <div class="col-lg-4">
        <div class="left-content">
            <div class="inner-content">
                <hr />
                <h4 class="display-4"> @Model.FirstName @Model.LastName</h4>
                <hr />
                <h5 >Bienvenido a FIT CENTER</h5>
                <hr />
                <h6>FIT CENTER es un gimnasio que ofrece clases de calistenia, pesas, crossfit y speeding</h6>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="main-banner header-text">
            <div class="Modern-Slider">
                <div class="item">
                    <div class="img-fill">
                        <table class="calendar">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Nombre de la Clase</th>
                                    <th>Localización</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var userClasses = ViewBag.UserClasses as List<Class>;
                                }

                                @foreach (var classes in userClasses)
                                {
                                    <tr>
                                        <td>@classes.StartTime - @classes.EndTime</td>
                                        <td>@classes.ClassName</td>
                                        <td>@classes.Location</td>
                                        <td>@classes.ClassDescription</td>
                                    </tr>
                                }

                                @if (userClasses.Count < 12)
                                {
                                    @for (int i = 0; i < 12 - userClasses.Count; i++)
                                    {
                                        <tr>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                        </tr>
                                    }
                                  
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
